  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="navbar-brand">Whipple</span>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item" id="nav-item-addmeeting">
            <a class="nav-link" href="/addmeeting">Add Meeting</a>
          </li>
          <li class="nav-item" id="nav-item-overview">
              <a class="nav-link" href="/">Overview</a>
          </li>
        </ul>
      </div>
    </nav>