.ToolBar {
  /* TODO flexible styles*/
  height: 560px;
  width: 80px;
  position: absolute;
  top: 170px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
